

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body { margin: 0; overflow: hidden; }

</style>



<div role="main">

  <h2>renderWorker</h2>
  <div #canvasContainer id="canvasContainer">
    <canvas #scene_1 id="scene1"></canvas>
    <canvas #scene_2 id="scene1"></canvas>
  </div>

</div>



<router-outlet></router-outlet>
